body{
    background-color: hsla(0, 0%, 100%, 0.908);
}

.nav-title {
    color: hsla(174, 73%, 28%, 0.803) ;
    text-align: center;
    align-items: center;
    margin: 2px;
}
.navbar .nav-link.active {
    color: white;
    background-color:hsl(174, 73%, 28%) ;
}
.navbar .nav-link:hover{
    color: white;
    background-color:hsla(174, 73%, 28%, 0.705);
    
}
.nav-item a {
    padding-left: 10px;
}
.container h1{
    margin-right: 30px;
}
.container img {
    height: 100px;
}
#menu {
    margin-top: 100px;
}
header {
    background-color: #fff;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;


}
section {
    color: black;
    padding: 20px;
    background-color:hsla(155, 100%, 89%, 0.817) ;
    scroll-margin-top: 170px;
}

.accordion button {
    color: white;
    background-color: rgb(90, 187, 166);
}

.accordion button:not(.collapsed) {
    font-weight: bold;
    background-color: rgb(90, 187, 166);
    color: white;
}

.form-control:active {
    border: 2px solid green;
}

.carousel-item img {
    object-fit: cover; 
    height: 1000px;
    width: 1000px; 
    z-index: 1;
}
.carousel-item h2 {
    color: black;
}
.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    
}
.card-title {
    height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-text {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limitar a 3 linhas */
    -webkit-box-orient: vertical;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-body .btn {
    margin-top: auto;
}
.row.g-4 {
    margin-top: 0;
}
